*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --fc-time: rgba(50, 50, 56, 1);
    --cc-controls: rgba(50, 50, 56, 1);
    --bg-body-primary: rgba(229, 229, 229, 1);
    --bg-main-primary: rgba(255, 255, 255, 1);
    --bg-buttom: rgba(225, 225, 230, 1);
    --bg-buttom-focus: rgba(02, 121, 157, 1);
    --fc-buttom-focus-icon: rgba(255, 255, 255, 1);
    --ff-time: "Roboto", sans-serif;
}

body{
    font-size: 1.6rem;
    background: var(--bg-body-primary);
    height: 100vh;
    display: grid;
}

main{
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 19.2rem;
    justify-content: center;
    align-items: center;
    padding: 6.4rem;
    background: var(--bg-main-primary);
    width: 128rem;
    height: 72rem;
}

.vrapper-card{
    display: grid;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 13.8rem 13.8rem;
    grid-template-rows: 15.2rem 15.2rem;
}

.timer{
    display: grid;
    justify-content: center;
}

.time span{
    font-weight: 500;
    font-size: 12.5rem;
    line-height: 14.8rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff-time);
    color: var(--fc-time);
}

.controls{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.card button{
    border-radius: 2.4rem;
    width: 13.8rem;
    height: 15.2rem;
    background: var(--bg-buttom) ; 
    cursor: pointer;
}

.card button:focus svg path{
    fill: var(--fc-buttom-focus-icon);
}

.card button input{
    margin-top: 3.2rem;
    width: 9rem;
    height: 1.6rem;
}

.card button:focus{
    background: var(--bg-buttom-focus);
}

.styleMode{
    align-self: start;
    justify-self: center;
}

.styleMode path:hover{
    fill: var(--bg-buttom-focus); 
}

path{
    fill: var(--fc-time);
}

.off{
    display: none;
}



